@font-face {
    font-family: 'codefont';
    src: url('../res/code.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    cursor: url('../res/cursor.png'), auto;
}

body {
    font-family: codefont;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0px;
    background-color: black;
    color: lime;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery a {
    margin: 0.6%;
    max-width: 30%;
    max-height: 40vh;
    transition: transform 0.35s ease;
    border-radius: 3%;
    padding: 7px;
    object-fit: contain;
    display: block;
    align-self: center;
    background-color: lime;
    cursor: url('../res/cursor-click.png'), auto;
}

.gallery img {
    max-height: 40vh;
    transition: transform 0.35s ease;
    border-radius: 3%;
}

.gallery img:hover {
    border-radius: 0%;
}

.gallery a:hover {
    background-color: transparent;
    transform: scale(1.1) translateY(-10px);
    border-radius: 0%;
}