@font-face {
    font-family: 'codefont';
    src: url('../res/code.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#line {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

html,
body {
    cursor: url('../res/cursor.png'), auto;
}

body {
    font-family: codefont;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0px;
    background-color: black;
    color: lime;
    font-size: 1.3em;
}

h1 {
    margin-top: 1%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.gallery a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('../res/cursor-click.png'), auto;
    border-radius: 6px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    background-color: lime;
    padding: 1.5%;
    height: auto;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.gallery a:hover {
    z-index: 11;
    border-radius: 0;
}

.gallery img:hover {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transform: scale(1.12) translateY(-12px);
    border-radius: 0;
}